In [24]:
s="jupiter"
s1="cs4"
print(s.isalpha())
print(s1.isalpha())
print(s.islower())
print(s1.islower())
print(s.isupper())
print(s.upper())
print(s1.upper())
print(s1.lower())
print(s.lower())
print(s1.title())
print(s1.isupper())
print(s.isnumeric())
print(s.swapcase())
print(s1.swapcase())
print(s1.isspace())

True
False
True
True
False
JUPITER
CS4
cs4
jupiter
Cs4
False
False
JUPITER
CS4
False

In [16]:
s="jupiter"
print("+".join(["jupiter""mars"]))

jupitermars

In [17]:
s="jupiter"
lst=list(s)
print(lst)

['j', 'u', 'p', 'i', 't', 'e', 'r']

In [19]:
s="Roshan is autowala"
print(s.replace("Roshan","sreekar"))

sreekar is autowala

In [10]:
b="h0e0l0l0W00r0ld"
print(b[0])
print(len(b))
for i in range(len(b)):
    if(b[i].isalpha()==True):
        print(b[i],end="");

h
15
hellWrld

In [20]:
t1=("roshan","sate","sreekar","mohit","churi","sandeep")

for i in range(len(t1)):
    print(t1[i],end="=>")
t2=("roshan","sate","sreekar","mohit","churi","sandeep")
t3=t1+t2
print(t3)
print(len(t3))

roshan=>sate=>sreekar=>mohit=>churi=>sandeep=>('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep')
12

In [21]:
t1=(1,2,3,4,5,6,7)
max(t1)

7

In [26]:
t6=("roshan","sate","sreekar","mohit","churi","sandeep","a")
max(t6)
min(t6)

'a'

In [27]:
l=["roshan","sate","sreekar","mohit","churi","sandeep","a"]
t1=tuple(l)
print (t1)

('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'a')

In [47]:
user1={'NAME':'Roshan','AGE':'19','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9515881637'}
user1['NAME']='roshan'
print("user1[NAME]=",user1['NAME'])
print("user1[EMAIL-ID]=",user1['EMAIL-ID'])
print("user1[AGE]=",user1['AGE'])
print("user1[MOBILE-NUMBER]=",user1['MOBILE-NUMBER'])
print(len(user1))
del user1['EMAIL-ID']
print(user1)
print(len(user1))
user1['address']='mehdipatnam'
print(len(user1))
user2=user1.copy()
print(user2)
print(user2.values())
print(user2.items())

user1[NAME]= roshan
user1[EMAIL-ID]= roshan13341@gmail.com
user1[AGE]= 19
user1[MOBILE-NUMBER]= 9515881637
4
{'NAME': 'roshan', 'AGE': '19', 'MOBILE-NUMBER': '9515881637'}
3
4
{'NAME': 'roshan', 'AGE': '19', 'MOBILE-NUMBER': '9515881637', 'address': 'mehdipatnam'}
dict_values(['roshan', '19', '9515881637', 'mehdipatnam'])
dict_items([('NAME', 'roshan'), ('AGE', '19'), ('MOBILE-NUMBER', '9515881637'), ('address', 'mehdipatnam')])

In [56]:
user1={'NAME':'Roshan','AGE':'19','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9515881637'}
lst=list(user1)
print(lst[0])
print("{0}".format(lst[0]))

NAME
NAME

In [53]:
print('Hello!2@#World'.istitle())

True

In [54]:
print('abcdefcdghcd'.split('cd', 2))

['ab', 'ef', 'ghcd']

In [55]:
print('1.1'.isnumeric())

False