In [24]:
s="jupiter"
s1="cs4"
print(s.isalpha())
print(s1.isalpha())
print(s.islower())
print(s1.islower())
print(s.isupper())
print(s.upper())
print(s1.upper())
print(s1.lower())
print(s.lower())
print(s1.title())
print(s1.isupper())
print(s.isnumeric())
print(s.swapcase())
print(s1.swapcase())
print(s1.isspace())

True
False
True
True
False
JUPITER
CS4
cs4
jupiter
Cs4
False
False
JUPITER
CS4
False

In [16]:
s="jupiter"
print("+".join(["jupiter""mars"]))

jupitermars

In [17]:
s="jupiter"
lst=list(s)
print(lst)

['j', 'u', 'p', 'i', 't', 'e', 'r']

In [19]:
s="Roshan is autowala"
print(s.replace("Roshan","sreekar"))

sreekar is autowala

In [10]:
b="h0e0l0l0W00r0ld"
print(b[0])
print(len(b))
for i in range(len(b)):
    if(b[i].isalpha()==True):
        print(b[i],end="");

h
15
hellWrld

In [20]:
t1=("roshan","sate","sreekar","mohit","churi","sandeep")

for i in range(len(t1)):
    print(t1[i],end="=>")
t2=("roshan","sate","sreekar","mohit","churi","sandeep")
t3=t1+t2
print(t3)
print(len(t3))

roshan=>sate=>sreekar=>mohit=>churi=>sandeep=>('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep')
12

In [64]:
t1=(1,2,3,4,5,6,7)
print (1 not in (t1))
max(t1)

False

7

In [26]:
t6=("roshan","sate","sreekar","mohit","churi","sandeep","a")
max(t6)
min(t6)

'a'

In [27]:
l=["roshan","sate","sreekar","mohit","churi","sandeep","a"]
t1=tuple(l)
print (t1)

('roshan', 'sate', 'sreekar', 'mohit', 'churi', 'sandeep', 'a')

In [47]:
user1={'NAME':'Roshan','AGE':'19','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9515881637'}
user1['NAME']='roshan'
print("user1[NAME]=",user1['NAME'])
print("user1[EMAIL-ID]=",user1['EMAIL-ID'])
print("user1[AGE]=",user1['AGE'])
print("user1[MOBILE-NUMBER]=",user1['MOBILE-NUMBER'])
print(len(user1))
del user1['EMAIL-ID']
print(user1)
print(len(user1))
user1['address']='mehdipatnam'
print(len(user1))
user2=user1.copy()
print(user2)
print(user2.values())
print(user2.items())

user1[NAME]= roshan
user1[EMAIL-ID]= roshan13341@gmail.com
user1[AGE]= 19
user1[MOBILE-NUMBER]= 9515881637
4
{'NAME': 'roshan', 'AGE': '19', 'MOBILE-NUMBER': '9515881637'}
3
4
{'NAME': 'roshan', 'AGE': '19', 'MOBILE-NUMBER': '9515881637', 'address': 'mehdipatnam'}
dict_values(['roshan', '19', '9515881637', 'mehdipatnam'])
dict_items([('NAME', 'roshan'), ('AGE', '19'), ('MOBILE-NUMBER', '9515881637'), ('address', 'mehdipatnam')])

In [56]:
user1={'NAME':'Roshan','AGE':'19','EMAIL-ID':'roshan13341@gmail.com','MOBILE-NUMBER':'9515881637'}
lst=list(user1)
print(lst[0])
print("{0}".format(lst[0]))

NAME
NAME

In [53]:
print('Hello!2@#World'.istitle())

True

In [54]:
print('abcdefcdghcd'.split('cd', 2))

['ab', 'ef', 'ghcd']

In [55]:
print('1.1'.isnumeric())

False

In [111]:
contacts={}
def addcontact(name,phone):
    if name.upper() and name.lower() not in contacts:
    
        contacts[name]=phone
        print("contact %s added" % name)
    else:
        print("contact %s alreaady exists" % name)
    return

addcontact("roshan",9515881637)
addcontact("sate",9000492323)
addcontact("mohit",7729818289)
addcontact("Roshan",9515881637)
addcontact("sreekar",9989678084)
def searchcontact(name):
    if name.upper() and name.lower() in contacts:
        print("person with these name found")
    else:
        print("person with this name doesn't exist")
    return

searchcontact("roShan")
searchcontact("surya")
lst=list(contacts)
for i in range(len(lst)):
    print(lst[i],end=" ;")
def importcontacts(newcontact):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts={'dinesh':123456789}
importcontacts(newcontacts)
def deletecontact(name):
    if name.upper() or name.lower() in contacts:
        del contacts[name.lower() or name.upper()]
        print("deleted")
    else:
        print("name not found in contacts")
        return 
deletecontact("saTe")
def updateContacts(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,": updated file with new number")
    else:
        print(name,"not exists in contacts")
    return
updateContacts("Anil","54554545454")
updateContacts("harsha","655454545")

contact roshan added
contact sate added
contact mohit added
contact Roshan alreaady exists
contact sreekar added
person with these name found
person with this name doesn't exist
roshan ;sate ;mohit ;sreekar ;1 contacts added successfully
deleted
Anil not exists in contacts
harsha not exists in contacts

In [4]:
lst=[1,2,3,4]
print("%d %d %d %d "%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [14]:
lst=[1,2,3,4]
for i in range(len(lst)):
    print("value at:{0}".format(lst[i]))

value at:1
value at:2
value at:3
value at:4

In [15]:
import math
math.factorial(5)

120

In [17]:
import random
def generaterandom(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandom(10,0,25)

21 12 9 7 8 18 14 17 19 7

In [19]:
a={'a':1,'b':2,'c':3}
print(a['a','b'])

KeyError: ('a', 'b')

In [20]:
d={"john":40,"peter":45}
print(d.keys())

dict_keys(['john', 'peter'])